*.pyc
.env
alembic.ini
test_conn.py
.env.development.local
.env.development
.env.production
backend/seed_data/task_categories.json
backend/seed_data/tasks.json
backend/seed_data/users.json
venv/
# *.egg
# *.egg-info
__pycache__/
backend/seed_data
backend/seed_dataa
