*.pyc
.env
alembic.ini
test_conn.py
.env.development.local
.env.development
.env.production
api/seed_from_json.py
api/task_categories.json
api/users.json
seed_data/task_categories.json
seed_data/tasks.json
seed_data/users.json
